<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Agriculture Monitoring App</title>
</head>

<body>
    <div class="container text-bg-success fs-1 p-3 text-center p-0">
        Agriculture Monitoring App
    </div>
    <div class="container p-0">
        <ul class="mx-0 nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/test">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/display">Display Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pump">Pump</a>
            </li>
            <li class="nav-item">
                <form action="/logout" method="post">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="container p-2 bg-success-subtle fs-5">
      Pump Control
    </div>
        <div class="container p-3 bg-secondary-subtle">
                <form action="/activatePump" method="post">
                    <div class="form-group">
                        <label for="duration">Duration (in seconds):</label>
                        <input type="number" id="duration" name="duration" class="form-control" required placeholder="Enter duration">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="status">Motor Status:</label>
                        <select id="status" name="status" class="form-control">
                            <option value="ON">ON</option>
                            <option value="OFF">OFF</option>
                        </select>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-block">Activate Pump</button>
                    </div>
                </form>
        </div>
</body>
</html>